.idea
node_modules
/dist/code-generator/de.d.ts
/dist/code-generator/en.d.ts
/dist/code-generator/tsconfig.tsbuildinfo
/dist/code-generator/typed-translations.d.ts
/dist/code-generator/typed-translations.test.d.ts
/dist/live-demo/basics.d.ts
/dist/live-demo/infer.d.ts
/dist/live-demo/translations.d.ts
/dist/live-demo/translations.test.d.ts
/dist/live-demo/tsconfig.tsbuildinfo
/dist/magic/magicTranslator.d.ts
/dist/magic/translation.solution.d.ts
/dist/magic/tsconfig.tsbuildinfo
/dist/real-life/de.d.ts
/dist/real-life/en.d.ts
/dist/real-life/schema.d.ts
/dist/real-life/tsconfig.tsbuildinfo
/dist/solutions/consistency.d.ts
/dist/solutions/de.d.ts
/dist/solutions/en.d.ts
/dist/solutions/tsconfig.tsbuildinfo
/dist/solutions/typed-translations.d.ts
/dist/solutions/typed-translations.test.d.ts
